* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

nav img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    width: 15%;
    margin-left: 5rem;
    height: 100%;
    align-items: center;
    text-align: center;
}


nav ul li {
    display: flex;
    cursor: pointer;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: .3rem;
}
nav ul li:hover {
    background-color: rgb(153, 255, 245);
}

.kotakProduk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem;
}

.kotakProduk .produk {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    overflow: hidden;
    width: 10rem;
    border-radius: 3px;
    margin: 1rem;
    height: 15rem;
    box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.10);
    -webkit-box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.10);
    -moz-box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.10);
}

.kotakProduk .produk:hover {
    box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.30);
    -webkit-box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.30);
    -moz-box-shadow: 3px 3px 33px 4px rgba(0,0,0,0.30);
    transform: translateY(-3px);
}


.produk img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

.produk .ket {
    display: flex;
    flex-direction: column;
    padding: .3rem;
}

.produk h2 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.produk h3 {
    font-size: .9rem;
    color: red;
    margin-bottom: .3rem;
}

.produk p {
    font-size: .8rem;
}